<div class="container">
    <!-- <ibdc-select></ibdc-select>
    <br><hr><br>
    <ibdc-select-multiple></ibdc-select-multiple>
    <br><hr><br>
    <ibdc-simple-text></ibdc-simple-text> -->
    <br><hr><br>
    <div style="width: 30%;">
        <ibdc-textarea [options]="{
            readOnlyVariable: false,
            form:exampleForm,formControlName:'text',
            inputTitle:'Title',
            description:'description'
        }"></ibdc-textarea>
    </div>
    <br>
    <div style="width: 30%;">
        <ibdc-textarea [options]="{
            readOnlyVariable: false,
            form:exampleForm,formControlName:'text',
            inputTitle:'Title',
            description:'description',
            maxWords: 100
        }"></ibdc-textarea>
    </div>
    <br>
    <div style="width: 30%;">
        <ibdc-textarea [options]="{
            readOnlyVariable: false,
            form:exampleForm,formControlName:'text',
            inputTitle:'Title',
            description:'description',
            editText: true
        }"></ibdc-textarea>
    </div>
    <!-- <br><hr><br>
    <ibdc-upload-files></ibdc-upload-files>
    <br><hr><br>
    <ibdc-input></ibdc-input> -->
    <br><hr><br>
    <div style="width: 50%;">
        <ibdc-link-list [options]="{
            inputTitle:'Title',
            description:'description',
            savedList: linkTest
        }"></ibdc-link-list>
    </div>
    <br><hr><br>
    <ibdc-save-button [options]="{
        readOnlyVariable: this._testService.readOnly
    }" (click)="hello()"></ibdc-save-button >
    <br><br><br>
    <button (click)="this._testService.readOnly=!this._testService.readOnly">Change read only</button>
</div>