.lib-title{
    text-align: center;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2em;
    color: rgb(126, 126, 126);
}

.get-started-button{
    background-color: rgb(36, 149, 241);;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lib_description{
    margin: 50px 0px;
    color: rgb(53, 53, 53);
    font-weight: 200;
    font-size: 2em;
}

.title{
    margin: 0px 0px 10px 0px;
    color: rgb(77, 77, 77);
    font-weight: 500;
}

.description{
    color: rgb(78, 78, 78);
}

.cmd_window{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 100px;
    background-color: rgb(26, 26, 29);
    .cmd_bar{
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgb(53, 53, 53);
        height: 35px;
        .icons{
            // display: flex;
            position: absolute;
            right: 0;
            margin-top: 10px;
            mat-icon{
                color: white;
                margin-right: 10px;
                font-size: 15px;
                cursor: unset;
            }
        }
        .text{
            margin-top: 55px;
            margin-left: 10px;
            p{
                color: white;
                font-family: monospace !important;
                .path{
                    color: rgba(158, 158, 158, 0.753);
                    font-family: monospace !important;
                }
            }

        }
    }
}

mat-divider{
    margin: 50px 0px;
    background-color: rgba(146, 146, 146, 0.548) !important;
}