<div class="title_container animate__animated animate__bounceInRight">
    <span class="lib-title">
        <span style="color: rgb(36, 149, 241);">I</span>
        <span style="color: rgb(6, 221, 103);">B</span>
        <span style="color: rgb(255, 175, 56);">D</span> Components
    </span>
    
</div>

<div class="full_width center_flex animate__animated animate__bounceInRight">
    <h4 class="lib_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, dolores.</h4>
</div>


<div class="full_width center_flex animate__animated animate__bounceInRight">
    <div class="get-started-button">
        Get started
    </div>
</div>
<br>
<div class="full_width center_flex animate__animated animate__bounceInRight">
    <span>Currently v0.0.3</span>
</div>


    

<br>
<br>
<div class="container animate__animated animate__bounceInRight">
    <mat-divider></mat-divider>
    <h2 class="title"><span style="font-weight: 500; color: #f33e3e;">Angular</span> Material</h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae excepturi quisquam rem. Similique, iste esse!</p>
    <br>
    <div class="cmd_container full_width">
        <div class="cmd_window" [style.width.%]="50">
            <div class="cmd_bar">
                <div class="icons">
                    <mat-icon>remove</mat-icon>
                    <mat-icon>check_box_outline_blank</mat-icon>
                    <mat-icon>close</mat-icon>
                </div>
                <div class="text">
                    <!-- <p>Console.</p> -->
                    <p> <span class="path">C:\user\></span> ng add @angular/material</p>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2 class="title"><span style="color: rgb(36, 149, 241);">I</span><span style="color: rgb(6, 221, 103);">B</span>
        <span style="color: rgb(255, 175, 56);">D</span> Components</h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae excepturi quisquam rem. Similique, iste esse!</p>
    <br>
    <p><span class="step">step 1: </span> Install library</p>
    <div class="cmd_container full_width">
        <div class="cmd_window" [style.width.%]="80">
            <div class="cmd_bar">
                <div class="icons">
                    <mat-icon>remove</mat-icon>
                    <mat-icon>check_box_outline_blank</mat-icon>
                    <mat-icon>close</mat-icon>
                </div>
                <div class="text">
                    <!-- <p>Console.</p> -->
                    <p> <span class="path">C:\user\></span> npm i https://github.com/AllianceBioversityCIAT/ibd-angular-components_library/raw/dev/library/ibd-angular-components-0.0.2.tgz</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p><span class="step">step 2: </span> Import module</p>
    <img class="general_image" src="\assets\images\import_ibd.png" alt="" srcset="">

    <mat-divider></mat-divider>
    <h2 class="title">Grid system <span style="font-weight: 500; color: #6f42c1;">Bootstrap</span></h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae excepturi quisquam rem. Similique, iste esse!</p>
    <br>

    <!-- <h3 class="option">Option 1</h3> -->
    <p><span class="step">step 1: </span> Download compiled CSS and JS of <a href="https://getbootstrap.com/docs/5.0/getting-started/download/">Bootstrap</a> </p>
    <p><span class="step">step 2: </span> Copy grid file and paste in src/app/styles folder -> <span style="color: rgb(233, 143, 8);">bootstrap-5.0.2-dist/css/bootstrap-grid.css</span> or <span style="color: rgb(233, 143, 8);">bootstrap-grid.min.css</span></p>
    <img class="general_image" src="\assets\images\styles-folder.png" alt="" srcset="">
    <p><span class="step">step 3: </span> Import grid css:</p>
    <img class="general_image" src="\assets\images\import-grid.png" alt="" srcset="">

    <!-- <br>
    <br>
    <h3 class="option">Option 2</h3>
    <p><span class="step">step 1: </span> Download compiled CSS and JS of <a href="https://getbootstrap.com/docs/5.0/getting-started/download/">Bootstrap</a> </p>
    <p><span class="step">step 2: </span> Copy grid file -> <span style="color: rgb(233, 143, 8);">bootstrap-5.0.2-dist/css/bootstrap-grid.css</span> or <span style="color: rgb(233, 143, 8);">bootstrap-grid.min.css</span></p>
    <p><span class="step">step 3: </span> Import grid css:</p>
    <img class="general_image" src="\assets\images\import_ibd.png" alt="" srcset=""> -->
</div>
