<div class="container">
    <ibdc-select></ibdc-select>
    <br><hr><br>
    <ibdc-select-multiple></ibdc-select-multiple>
    <br><hr><br>
    <ibdc-simple-text></ibdc-simple-text>
    <br><hr><br>
    <ibdc-textarea></ibdc-textarea>
    <br><hr><br>
    <ibdc-upload-files></ibdc-upload-files>
    <br><hr><br>
    <ibdc-input></ibdc-input>
    <br><hr><br>
    <ibdc-link-list [options]="{
        inputTitle:'Title',
        description:'description',
        savedList: linkTest
    }"></ibdc-link-list>
    <br><hr><br>
    <ibdc-save-button [options]="{
        angularServiceVariable: this._testService.readOnly
    }"></ibdc-save-button>
    <br><br><br>
    <button (click)="this._testService.readOnly=!this._testService.readOnly">Change read only</button>
</div>