
<div class="logo_container center_flex">
  <span class="lib-title">IBD Components</span>
</div>
<div class="search">

</div>


<mat-tree>
  <mat-tree-node> parent node </mat-tree-node>
  <mat-tree-node> -- child node1 </mat-tree-node>
  <mat-tree-node> -- child node2 </mat-tree-node>
</mat-tree>

<span *ngFor="let section of _dataControl.menuSections">

  <!-- <mat-selection-list  #sections [multiple]="false">
    <mat-list-option class="sections_title">
      {{section.name}}
    </mat-list-option>
</mat-selection-list> -->

  <div class="item_list">
    <div class="item">
      {{section.name}}
    </div>
  </div>


  <div class="sub_item_list" *ngIf="section.children">
    <div class="sub_item" *ngFor="let child of section.children">
      {{child.name}}
    </div>
  </div>

</span>
