
<div class="logo_container center_flex">
  <span class="lib-title">IBD Components</span>
</div>
<div class="search">

</div>

<span *ngFor="let section of _dataControl.menuSections">

  <!-- <mat-selection-list  #sections [multiple]="false">
    <mat-list-option class="sections_title">
      {{section.name}}
    </mat-list-option>
</mat-selection-list> -->

  <div class="item_list">
    <div class="item" [routerLink]="section.route">
      {{section.name}}
    </div>
  </div>


  <div class="sub_item_list" *ngIf="section.children">
    <div class="sub_item" *ngFor="let child of section.children" [routerLink]="child.route">
      {{child.name}}
    </div>
  </div>

</span>
